<%- include("partials/header") %>

<h2><%= planet.name %></h2>

<p><strong>Radius:</strong> <%= planet.radius %> km</p>
<p><strong>Moons:</strong> <%= planet.moons %></p>
<p><strong>Distance from Sun:</strong> <%= planet.distance %></p>

<%- include("partials/footer") %>